<div class="col-md-3 col-lg-3 col-4 member-box">
    <div class="colHeader">
        <h2>
            {{ name }}
        </h2>
        <h4><i class="fas fa-glasses"></i>
            Engineer
        </h4>
    </div>
    <div class="colBody">
        <div class="colContent">
            <p class="info">ID: {{ id }}</p>
            <p class="info">Email:
                <a href="{{ email }}">{{ email }}</a></p>
            <p class="info">Github:
                <a href="{{ githubName }}">{{ githubName }}</a></p>
        </div>
    </div>

</div>